﻿body {
    padding: 0;
    margin: 0;
}

/*Game CSS*/
body .game-box {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    z-index: 1;
    background: linear-gradient(157deg, rgba(255,255,255,1) 0%, rgba(249,50,255,1) 22%, rgba(255,255,255,1) 45%, rgba(44,219,255,1) 74%, rgba(255,255,255,1) 100%);
}

.game-container {
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
    justify-content: space-between;
    height: 50%;
    width: 50%;
}

body .game-box .game-container .boxes {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 15%;
    height: 45%;
    width: 17%;
    padding: 0;
    margin: 0;
    box-shadow: 2.5vh 2.5vh 2.5vh .38vh rgba(0, 0, 0, 0.3), inset -1.25vh -1.25vh 2.5vh .38vh rgba(0, 0, 0, 0.3), inset 1.25vh 1.25vh 2.5vh .38vh rgba(255, 255, 255, 0.3);
    background: radial-gradient(circle, rgba(169,8,255,1) 0%, rgba(216,143,255,1) 100%);
}

.game-box #help {
    height: 3%;
    width: 1.64%;
    display: flex;
    top: 3%;
    right: 1.64%;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    position: absolute;
    background: rgb(40, 40, 40);
    color: white;
    border-radius: 100%;
    font-size: 0.8em;
    font-family: 'Press Start 2P', cursive;
    transition: height 0.5s ease-out, width 1.5s ease-in-out, border-radius 1.5s ease-out;
    box-shadow: 0.25vh 0.25vh 0.25vh 0.08vh rgba(0, 0, 0, 0.3), inset -0.25vh -0.25vh 0.5vh 0.08vh rgba(0, 0, 0, 1), inset 0.25vh 0.25vh 0.5vh 0.08vh rgba(255, 255, 255, 0.5);
}

    .game-box #help:hover {
        align-items: flex-start;
        align-content: flex-start;
        font-size: 1.1em;
        content: none;
        height: 32%;
        width: 14%;
        padding: 1%;
        border-radius: 15%;
        transition: width 0.5s ease-in, height 1.5s ease-in-out, border-radius 1.5s ease-out, padding 0.5s ease-in;
        box-shadow: 1.25vh 1.25vh 1.25vh 0.38vh rgba(0, 0, 0, 0.5), inset -1.25vh -1.25vh 2.5vh 0.38vh rgba(0, 0, 0, 0.9), inset 1.25vh 1.25vh 2.5vh 0.38vh rgba(255, 255, 255, 0.5);
    }

    .game-box #help p {
        opacity: 1;
        transition: opacity 0.5s ease-in;
    }

    .game-box #help:hover p {
        opacity: 0;
        transition: opacity 0s ease-in;
    }

    .game-box #help:hover:before {
        content: '';
        animation: show-text 2s ease-in;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    }

@keyframes show-text {
    0% {
        content: '';
        opacity: 0;
    }

    50% {
        content: 'Click on the blinking light to begin! Once the game begins you have to click the lights in the correct order that is shown.';
        opacity: 0;
    }

    100% {
        content: 'Click on the blinking light to begin! Once the game begins you have to click the lights in the correct order that is shown.';
        opacity: 1;
    }
}

.game-box #points {
    height: 5%;
    width: 14%;
    display: flex;
    top: 3%;
    flex-flow: row nowrap;
    align-items: center;
    flex: 1;
    position: absolute;
    border-radius: 5%;
    background: rgb(40, 40, 40);
    color: white;
    font-size: 0.5em;
    font-family: 'Press Start 2P', cursive;
    transition: height 0.5s ease-out, width 1.5s ease-in-out, border-radius 1.5s ease-out;
    box-shadow: 0.25vh 0.25vh 0.25vh 0.08vh rgba(0, 0, 0, 0.3), inset -0.25vh -0.25vh 0.5vh 0.08vh rgba(0, 0, 0, 1), inset 0.25vh 0.25vh 0.5vh 0.08vh rgba(255, 255, 255, 0.5);
}

.game-box #pointHeader {
    padding: 5%;
    width: 20%
}

.game-box #pointNumber {
    padding: 5%;
    width: 65%
}

    body .game-box .game-container .blink {
        animation: blink 1.5s;
        animation-iteration-count: infinite;
    }

@keyframes blink {
    0% {
        background: radial-gradient(circle, rgba(196,87,255,1) 0%, rgba(223,163,255,1) 100%);
    }

    40% {
        background: radial-gradient(circle, rgba(196,87,255,1) 0%, rgba(223,163,255,1) 100%);
    }

    100% {
        background: radial-gradient(circle, rgba(169,8,255,1) 0%, rgba(216,143,255,1) 100%);
    }
}

/*Menu CSS*/
/*radial-gradient(circle, rgba(196,87,255,1) 0%, rgba(223,163,255,1) 100%)
    radial-gradient(circle, rgba(169,8,255,1) 0%, rgba(216,143,255,1) 100%);*/
#nav-bar {
    height: 100vh;
    width: 100vw;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    background: #708238;
}

#menu-button {
    display: flex;
    position: absolute;
    background: radial-gradient(circle, rgba(187,6,214,1) 0%, rgba(104,226,251,1) 70%);
    box-shadow: 1.25vh 1.25vh 1.25vh 0.38vh rgba(0, 0, 0, 0.3), inset -1.25vh -1.25vh 2.5vh 0.38vh rgba(0, 0, 0, 0.2), inset 1.25vh 1.25vh 2.5vh 0.38vh rgba(255, 255, 255, 0.5);
    top: -5%;
    left: -2.73%;
    height: 40%;
    width: 21.8%;
    border-radius: 100%;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 5;
    transition: all 1s ease-out;
}

@media screen and (max-width: 1000px) {
    #menu-button {
        height: 10vh;
        width: 10vh;
    }
}

#nav-bar #menu-checkbox {
    display: block;
    position: absolute;
    top: 30%;
    left: 25%;
    width: 45%;
    height: 38%;
    opacity: 0;
    z-index: 4;
    cursor: pointer;
}

#logo {
    position: absolute;
    top: 17%;
    left: 14%;
    z-index: 5;
    transform: translate(40px, 50px);
}

#logo-image {
    width: 61%;
}

#nav-bar #top-slider {
    height: 0;
    width: 0;
    position: relative;
    border-left: 150vh solid transparent;
    border-right: 150vh solid #708238;
    border-bottom: 150vh solid transparent;
    border-top: 150vh solid #708238;
    z-index: 3;
    /*top: -67.5vh;*/
    /*top:-168vh;*/
    top: -67.5vh;
    transform: rotate(-17deg);
}

#nav-bar #bottom-slider {
    height: 0;
    width: 0;
    position: relative;
    border-left: 150vh solid #708238;
    border-right: 150vh solid transparent;
    border-bottom: 150vh solid #708238;
    border-top: 150vh solid transparent;
    z-index: 3;
    left: -361.5vh;
    top: -100vh;
    transform: rotate(-17deg);
}

#options {
    list-style-type: none;
}

#menu-container {
    z-index: 3;
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    border-radius: 15%;
    background: linear-gradient(90deg, rgba(248,104,255,1) 0%, rgba(191,126,255,1) 56%, rgba(118,252,255,1) 100%);
    height: 75%;
    width: 30%;
    top: 13%;
    left: 35.6%;
    opacity: 1;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    transition: all 1s ease-out;
    box-shadow: 1.25vh 1.25vh 1.25vh 0.38vh rgba(0, 0, 0, 0.3), inset -1.25vh -1.25vh 2.5vh 0.38vh rgba(0, 0, 0, 0.2), inset 1.25vh 1.25vh 2.5vh 0.38vh rgba(255, 255, 255, 0.5);
}

    #menu-container #options {
        height: 100%;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }

        #menu-container #options li {
            height: 25%;
            font-family: 'Press Start 2P', cursive;
            font-size: 3em;
            padding: 0;
            margin: 0;
            cursor: pointer;
        }

/*Game Over CSS*/
#game-over-animation {
    height: 100vh;
    width: 100vw;
    top:0;
    left:0;
    overflow: hidden;
    position: absolute;
    z-index: -2;
}

#swirl .yes {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 90%;
    width: 90%;
    border-radius: 50%;
    border-right: 2vh solid rgba(0, 0, 0, 0.8);
    animation: spinning 4s ease-in;
}

#swirl {
    background: none;
    position: absolute;
    z-index: auto;
    animation: shrink-container 4s ease-in;
}

#first-circle {
    position: absolute;
    border: 300vh solid rgba(0, 0, 0, 1);
    border-radius: 100%;
    z-index: auto;
    animation: shrink 4s ease-in;
}

@media only screen and (max-width: 1600px) {

    @keyframes shrink {
        0% {
            width: 125%;
            height: 250%;
            top: -375%;
            left: -170%;
        }

        100% {
            width: 0;
            height: 0;
            top: -250%;
            left: -114.1%;
        }
    }

    @keyframes shrink-container {
        0% {
            width: 164.1%;
            height: 300%;
            top: -100%;
            left: -28%;
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        100% {
            width: 0;
            height: 0;
            top: 50%;
            left: 50%;
            opacity: 1;
        }
    }
}

@keyframes spinning {
    0% {
        transform: rotate(-45deg);
    }

    100% {
        transform: rotate(90deg);
    }
}
