body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body .game-box{
    z-index:1;
    padding: 0;
    margin: 0;
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-content:center;
    align-items:center;
    background: linear-gradient(90deg, rgba(255,196,254,1) 0%, rgba(255,143,254,1) 22%, rgba(212,219,255,1) 50%, rgba(106,254,255,1) 76%, rgba(168,254,255,1) 100%);
}

.game-box {
    flex-flow: row wrap;
    z-index:1;
}

.game-container {
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
    justify-content: space-between;
    height:50%;
    width:50%;
}

body .game-box .game-container span {
    border-radius: 15%;
    height: 45%;
    width: 17%;
    box-shadow: 20px 20px 20px 3px rgba(0, 0, 0, 0.3), inset -10px -10px 20px 3px rgba(0, 0, 0, 0.3), inset 10px 10px 20px 3px rgba(255, 255, 255, 0.3);
    background: radial-gradient(circle, rgba(196,87,255,1) 0%, rgba(223,163,255,1) 100%);
}

/*radial-gradient(circle, rgba(196,87,255,1) 0%, rgba(223,163,255,1) 100%)
    radial-gradient(circle, rgba(169,8,255,1) 0%, rgba(216,143,255,1) 100%);*/

nav{
    height:100vh;
    overflow:hidden;
    width:200vh;
    z-index:2;
    display:flex;
    position:relative;
    bottom:100vh;
}

#menu-button {
    display: flex;
    position: absolute;
    background: radial-gradient(circle, rgba(187,6,214,1) 0%, rgba(104,226,251,1) 70%);
    box-shadow: 10px 10px 10px 3px rgba(0, 0, 0, 0.3), inset -10px -10px 20px 3px rgba(0, 0, 0, 0.2), inset 10px 10px 20px 3px rgba(255, 255, 255, 0.5);
    top: -5vh;
    left: -5vh;
    height: 20vh;
    width: 20vh;
    border-radius: 100%;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 4;
}

    nav input {
        display: block;
        position: absolute;
        top: 60px;
        left: 55px;
        width: 50px;
        height: 45px;
        opacity: 0;
        z-index: 5;
    }

#logo {
    position: absolute;
    top: 64px;
    left: 59px;
    z-index: 4;
}

#logo-image {
    width:61%;
}

nav input:checked ~ div {
    height:50vh;
    width:50vh;
}

#menu-button input:checked ~ #top-slider {
    opacity:0;
}

nav #top-slider{
    height:0px;
    width:0px;
    position:relative;
    border-left: 100px solid red;
    border-right:100px solid transparent;
    border-bottom: 100px solid red;
    border-top: 100px solid transparent;
    z-index:2;
    top:80px;
    left:100px;
}