body {
    margin: 0;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    background: linear-gradient(90deg, rgba(255,230,197,1) 0%, rgba(238,201,151,1) 100%);
}

#menuToggle {
    height: 100%;
    display: block;
    position: relative;
    padding: 50px;
    padding-bottom: 0px;
    z-index: 1;
}

    #menuToggle input {
        display: block;
        position: absolute;
        width: 34px;
        height: 25px;
        padding: 50px;
        z-index: 2;
        opacity: 0;
    }

    #menuToggle span {
        display: block;
        position: relative;
        background: white;
        margin-bottom: 5px;
        margin-left: 5px;
        width: 33px;
        height: 5px;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s, opacity 0.55s ease;
    }

    #menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg);
    }

    #menuToggle span:nth-last-child(first-child) {
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    #menuToggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2,0.2);
    }

    #menuToggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(1px, 0px);
    }

#menu {
    position: relative;
    width: 100%;
    height: 100%;
    margin: -37% 0 0 -25%;
    padding-top: 125px;
    border: solid 2px;
    background: linear-gradient(90deg, rgba(173,253,255,1) 35%, rgba(238,174,202,1) 75%);
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s;
}

    #menu li {
        display: flex;
        position: center;
        border-top: solid;
        border-color: white;
        margin: 0 0 0 -11px;
        padding: 10px;
        display: block;
        font-size: 22px;
    }

        #menu li:last-child {
            border-bottom: solid;
            border-color: white;
        }

#menuToggle input:checked ~ ul {
    transform: none;
}

nav {
    grid-area: 1 / 1 / 1 / 1;
    height: 201.1%;
    width:150%;
}

body .waveContainer {
    grid-area: 1/1/1/1;
}

    body .waveContainer .wave {
        position: fixed;
        transform: rotate(90deg);
        height: 200%;
        left: -373%;
        width: 800%;
        animation: wave 10s;
        animation-direction: alternate;
        animation-timing-function:ease-in-out;
        animation-iteration-count: infinite;
    }

@keyframes wave {

    0% {
        transform: translateY(-200%) rotate(90deg);
    }
    100% {
        transform: translateY(300%) rotate(90deg);
    }
}
